back/kestra/flows/fire_inference.yaml
id: fire-inference-flow
namespace: dev

inputs:
  - id: file_path
    type: STRING
  - id: report_id
    type: STRING

tasks:
  - id: inference
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: ultralytics/ultralytics:latest
    docker:
      volumes:
        - back_shared-data:/shared-data
    beforeCommands:
      - pip install kestra
    script: |
      import os
      import json
      from kestra import Kestra
      from ultralytics import YOLO

      # Paths
      IMAGE_PATH = f"/shared-data/uploads/{os.getenv('FILE_PATH')}"
      
      print(f"Processing {IMAGE_PATH}...")
      
      try:
          # Load Custom Trained Model from Shared Volume
          MODEL_PATH = "/shared-data/models/custom_fire_model.pt"
          if os.path.exists(MODEL_PATH):
              print(f"Loading custom model from {MODEL_PATH}")
              model = YOLO(MODEL_PATH)
          else:
              print("Custom model not found, falling back to yolov8n.pt")
              model = YOLO("yolov8n.pt") 
          results = model(IMAGE_PATH)
          
          # Process results
          detections = []
          for r in results:
              for box in r.boxes:
                  detections.append({
                      "x1": float(box.xyxy[0][0]),
                      "y1": float(box.xyxy[0][1]),
                      "x2": float(box.xyxy[0][2]),
                      "y2": float(box.xyxy[0][3]),
                      "confidence": float(box.conf[0]),
                      "class": int(box.cls[0]),
                      "name": model.names[int(box.cls[0])]
                  })
          
          summary = {
              "object_count": len(detections),
              "objects_detected": [d['name'] for d in detections]
          }
          
          Kestra.outputs({
              "status": "DONE", 
              "summary": json.dumps(summary),
              "raw_detections": json.dumps(detections)
          })
          
      except Exception as e:
          print(f"Error: {e}")
          Kestra.outputs({
              "status": "ERROR",
              "error": str(e)
          })
          exit(1)
    env:
      FILE_PATH: "{{ inputs.file_path }}"

  - id: update-postgres
    type: io.kestra.plugin.jdbc.postgresql.Query
    url: jdbc:postgresql://postgres:5432/wildfire_db
    username: user
    password: password
    sql: |
      UPDATE reports 
      SET status = '{{ outputs.inference.vars.status }}'
      WHERE id = '{{ inputs.report_id }}';

  - id: log-mongo
    type: io.kestra.plugin.mongodb.InsertOne
    connection:
      uri: mongodb://user:password@mongo:27017/wildfire_logs?authSource=admin
    database: wildfire_logs
    collection: inference_logs
    document: |
      {
        "report_id": "{{ inputs.report_id }}",
        "timestamp": "{{ now() }}",
        "detections": {{ outputs.inference.vars.raw_detections }}
      }
